@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-abyss-950 text-neutral-100 antialiased;
}

::selection {
  @apply bg-red-600 text-neutral-50;
}
